body{
    background-color: rgb(140, 140, 247);
    font: normal 15pt Courier;
    color: black;
    text-align: center;
}
.paragrafos{
    background: white;
    text-align: justify;
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px;


}