
        body{
            background: rgb(200, 220, 20);
            font: 15pt Arial;
            color: white;
        }
        header{
            background: rgb(234, 53, 7);
        }
        section {
            background: rgb(255, 145, 0);
            border-radius: 10px 10px 20px ;
            padding: 5px;
            margin: auto;
            text-align: center;
            box-shadow: 3px 3px 10px black;
        }
        footer{
            background: rgb(255,145,0);
            
        }