@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans' ;
    /* background-image: linear-gradient(to right, rgb(50, 69, 247), rgb(102, 220, 228)); */
    background-image: url(./Imagnes/controle.jpg);
    text-align: center;
    -moz-box-align: center;
     
    
}
.boxReceita  {

    filter: blur(1px);
}
.boxReceita   {
    background: green;
    position: fixed;
    top: 50px;
    width: 500px;
    height: 100px;
    border-radius: 40px;
    text-align: center;
    padding: 15px;

}
.boxDespesa{
    background: red;
    position: fixed;
    top: 50px;
    left: 600px;
    width: 500px;
    height: 100px;
    border-radius: 40px;
    text-align: center;
    padding: 15px;
}
