<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Financeiro</title>
</head>
<!-- <link rel="stylesheet" href="../src/css/style.css"> -->

<body>
    <header>
        <h1>Painel de Controle financeiro</h1>
    </header>
    <main>
        <div class="conteudo">
            <div id="totalLancamentos">
                <p>
                    <h1>Balanço R$:</h1>
                </p>
                
                <p>
                    <div id="displayBalanco">0,00</div>
                </p>

                <input type="button" value="Balanço" class="bttBalanco">
            </div>

            <div class="boxLançamento">
                <h3>
                    <p>Novo Lançamento  </p>
                </h3>
                <p>Utilize (-) para Despesas</p>
                <p>
                    <input type="number" class="textinput" placeholder="valor">
                    <input type="text" class="textDescricao" placeholder="Descrição">
                    <input type="date" class="textData" placeholder="data">
                <p>
                    <input type="button" class="BttReceita" value="Novo Lançamento">
                    
                </p>

                <hr>
                <div class="exclusao">
                    <p><input type="text" placeholder="informe o ID" class="txtId">

                    <input type="button" value="Excluir lançamento" class="txdelete"></p>

                </div>

<hr>
            </div>
           <div class="atualiza">

            
            <input type="text" class="informaID" placeholder="ID do lançamento...">
            <input type="text" class="txtatualizaDescricao" placeholder="Nova Descrição...">
            <input type="text" class="txatatualizaValor" placeholder="Novo Valor...">
            <input type="date" class="txtatualizaData" placeholder="Nova data">
            <p><input type="button" value="Atualizar lançamento" class="btnAtualiza"></p>
           </div>
            <div>
                <h2>
                    <p>Histórico de lançamentos</p>
                </h2>
                <div id="container-lancamento">
                    <template id="lacamento-template">
                        <table class="lancamentos">
                           
                            <tr>
                                <td class="descricao">Descrição do lançamento: <span></span></td>
                            </tr>
                            <hr>
                            <tr>
                                <td class="valor">Valor : <span></span></td>
                            </tr>

                            <tr>
                                <td class="data">Data do lançamento: <span></span></td>
                            </tr>
                            <tr>
                                <td class="id">ID: <span></span></td>
                            </tr>
                            
                        </table>
                        
                    </template>
                </div>
            </div>
        </div>

    </main>
    <footer>
        &copy; - Paulier Rodrigues | 2023
    </footer>

    <script src="../src/js/script.js"></script>
</body>

</html>