<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lançamentos</title>
    <link rel="stylesheet" href="../src/css/style.css">
</head>
<body>
    <main>
    <div id="valoresEditaveis">
        <div value="bttVoltar"><p><h3><a href="./index.html">Home</a></h3></p></div>
        <h2>

            <p><h3>Excluir lançamentos</h3></p>

            <div class="exclusao">
                <p><input type="text" placeholder="Código do lançamento..." id="txtId">

                <input type="button" value="Excluir lançamento" id="txdelete"></p>

        </div>

<hr>
    </div>
    <h3>Altera lançamentos</h3>

       <div class="atualiza">        
        <input type="text" id="informaID" placeholder="Código do lançamento...">
        <input type="text" id="txtatualizaDescricao" placeholder="Nova Descrição...">
        <input type="text" id="txatatualizaValor" placeholder="Novo Valor...">
        <input type="date" id="txtatualizaData" placeholder="Nova data">
        <p><input type="button" value="Atualizar lançamento" id="btnAtualiza"></p>
       </div>

    <div>
            <h3><p>Histórico</p>
        </h3>
        <div id="container-lancamento">
            <template id="lacamento-template">

                <table class="lancamentos">
                    <colgroup span="4"></colgroup>
                        <tr>
                            <th>Descrição do lançamento</th>                           
                            <th>Valor</th>                                               
                            <th>data</th>                      
                            <th>Código</th>   
                        </tr>                    
                        <tr>                      
                            <td class="descricao"><span></span></td>                                               
                            <td class="valor"> <span></span></td>                   
                            <td class="data"><span></span></td>                        
                            <td class="id"><span></span></td>                        
                        </tr>                        
                   
                </table>
                
            </template>

        </div>
        <div value="bttVoltar"><p><h3><a href="./index.html">Voltar</a></h3></p></div>
    </div>
</main>

<footer>
&copy; - Paulier Rodrigues | 2023
</footer>

<script src="../src/js/script.js"></script>    
</body>

</html>