@charset "utf-8";
*{
    margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header#cabecalho{
    margin-top: 60px;
    text-align: center;
}
main#principal{
    width: 70%;
    height: 1000px;
    margin: auto;
    background-color: rgb(126, 123, 118);
    border-radius: 10px;
    position: relative;
}
main#principal .quadrado{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 10px;
    /* position: sticky;
    top:0px;
    left:100px */
    display: inline-block;
    justify-content: center;
    overflow: scroll;
}