
body{
    background-color: rgb(2, 94, 94);
    font: normal 12pt Arial;
    color: white;
    margin: 20px;
}
.cabecalho h1{
    font-size: 4em;
    text-align: center;
}
.cronometro{
    
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 500px;
    height: 150px;
    margin: auto;
}
 
.botaoiniciar{
    color: white;
    font: normal 13pt Arial;
    background-color: green;
    width: 100px;
    height: 50px; 
    border-radius: 40px;   
  
}
.botaoparar{
    color: white;
    font: normal 13pt Arial;
    background-color: rgb(179, 4, 4);
    width: 55px;
    height: 50px; 
    border-radius: 40px;   
  
}
.botaozerar{
    color: white;
    font: normal 13pt Arial;
    background-color: rgb(172, 114, 6);
    width: 100px;
    height: 50px; 
    border-radius: 5px;
      
}
.relogio{
    font-size: 4em;
}