*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* 
flex box deve ser adicionado apeas no pai */
main{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.quadrado{
    width: 150px;
    height: 150px;
    background-color: red;
    margin: 2px;
}

div.quadrado.amarelo{
    background-color: yellow;
}
div.quadrado.verde{
    background-color: green;
}
div.quadrado.roxo{
    background-color: purple;
}