@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&family=Roboto+Slab:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
p,
li,
table,
label,
input,
button,
textarea{
    
    font-family: 'Roboto Slab', serif;
}

header.cabecalho div.container{
    display: flex;
    justify-content: space-between;
    
}

div.container{
    max-width: 900px;
    margin: 0  auto;
    padding: 15px;
}
nav.menu{
    margin-top: 10px;
}

nav.menu ul li{
    list-style: none;
    display: inline-block;
}
nav.menu ul li a{
    color: #1a1a1a;
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
   
}

nav.menu ul li a:hover{
    color: #ff8000;
}

/* Título */
main div.container-titulo{    
    width: 100%;
    background-color: #ff8000;
}

main div.container-titulo h1{
    color: #fff;
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;

}