@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap');
header{
    
    font-size: larger;
    color: white;
    
}
body{
    background-image: url("./imagens/technology_abstract_background-1920.jpg");
    font-family: labrada;
    color: white;
    font-size: larger;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}
.cabecalho{
    background-color: white;
    height: 50px;
    text-align: center;
    border-radius: 15px;
}
.corpo{
    background-color: white;
    font-size: large;
    color: black;
    margin: 15px;
    text-align: justify;
    text-shadow: 15px black;
    padding: 50px;
    border-radius: 15px;
}
.rodape{
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 50px;
}
.corpoCadastro{
    background-color: white;
    font-size: large;
    color: black;
    margin: auto;
    width: 600px;
    text-align: left;
    text-shadow: 15px black;
    padding: 50px;
    border-radius: 15px;
}
.cadastrobotao{
    text-align: center;
    
}
.webDeveloper{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    
}
.listaFrontDeveloper{
    text-align: center;
}
.front{
   position: relative;
    width: 90%;    
}
.back{
    position: relative;
    width: 100%;
}
.listabackDeloper{
    text-align: center;
}
.CssHtmlJsBottonIndex{
    text-align: center;
}
.mensagem{
    width: 500px;
    height: 150px;
    text-align: center;
    font: normal 12pt Arial;
    font-style: italic;
}
